<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DSR KYC</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


        <link rel="stylesheet" href="/Assests//css/kycRecords.css" >

      
      
    </head>

    <body class="container">

        <!-- Rest of your HTML content -->
        <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>

        <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>

        <div class="card">
            <div class="card-header">
                <div class="nav nav-pills w-100 salesman-kyc">

                    <a class="nav-link"><b>Salesman KYC</b></a>

                </div>
            </div>
            <form action="/salesmenKyc/searchDSR" method="get" class="search-form">
                <input type="text" class="form-control" name="DSRCode" placeholder="DSR Code">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Search
                </button>
                <a href="/master" class="btn btn-primary">
                    <i class="fas fa-home"></i> Data Management
                </a>
            </form>

            <!-- DSR and KYC Cards Section -->
            <div class="row mt-4">
                <% for(var i = 0; i < data.length; i++) { %>
                <div class="col-md-4">
                    <div class="card">
                        <a  href="../salesmenKyc/addDsrKyc/<%=data[i].DSRId%>">
                        <div class="card-body">
                            <input type="hidden" id="DSRId" value="<%= data[i].DSRId %>"
                            <p class="dsr-code"><strong>DSR Code:</strong> <%= data[i].DSRCode %></p>
                            <p class="dsr-name"><strong>DSR Name:</strong> <%= data[i].DSRName %></p>
                            <input type="hidden" name="DSRID" value="<%= data[i].DSRId %>">
                        </div>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <!-- Include jQuery and other necessary scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    </body>

</html>