<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parle</title>
    
    <link rel="icon" href="/public/image/account-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/package/boostrap.css">
    <link rel="stylesheet" href="/public/css/package/sweetalert2.css">
    <link rel="stylesheet" href="/public/css/package/slick.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <link rel="stylesheet" href="/public/css/package/boxicons-2.1.4/css/boxicons.min.css">
</head>

<body>
    <!-- As a heading -->
    <header class="header ">
        <nav class="navbar navbar-expand-lg bg-white px-4 py-2 ">
            <span class="text-primary openNav" onclick="openNav()"><i class='bx bx-menu' ></i></span>
            <span class="closebtn text-primary" onclick="closeNav()"><i class='bx bx-x'></i></span>
            <img src="/public/image/account-logo.png" alt="">
            <div class="dropdown">
                <a class="d-inline-block" data-bs-toggle="dropdown">
                    <img class="profilecircle " id="profile-menu" src="/public/image/img_avatar.png" alt="">

                </a>
                <ul class="dropdown-menu profile-dropdown border-0" aria-labelledby="profile-menu">
                    <li>
                        <div class="d-flex justify-content-start align-items-center px-3">
                            <img class="profilecircle" id="profile-menu" src="/public/image/img_avatar.png" alt="">
                            <div class="ms-2 d-flex flex-column-reverse">
                                <small><%= user[0].UserCode %></small>
                                <p class="font-13"><%= user[0].UserName %></p>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="/SOProfile?UUID=<%= UUID %>"><i class='bx bxs-user bx-icon '></i>My  Profile</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <sidenav class="sidenav sidenav-collpased">
        <ul class="list-unstyled pt-5 border-top-1 " id="menu">
            <li class="mb-2 position-relative">
                <a class="menu" href="/Dashboard?UUID=<%= UUID %>"> <span class="d-flex-center align-items-center"> <span> <i
                                class='bx bx-grid-alt'></i> </span> <span class="side-text  ps-2">Dashboard</span>
                    </span>
                </a>
            </li>

            <li class="mb-2 position-relative">
                <a class="menu" href="/SalesmenKYC?UUID=<%= UUID %>"> <span class="d-flex-center align-items-center"> <span> <i
                                class='bx bx-id-card'></i></span> <span class="side-text  ps-2">Salesman KYC</span>
                    </span>
                </a>
            </li>
        
            <li class="mb-2 position-relative">
                <a class="menu" href="/SalesmenPayment?UUID=<%= UUID %>"> <span class="d-flex-center align-items-center"> <span>
                            <i class='bx bx-receipt'></i></span> <span class="side-text  ps-2">Salesman Payment</span>
                    </span>
                </a>
            </li>
      
        </ul>
    </sidenav>

<main id="content" class="main" role="main">

    <%- include(pageContent) %>
    
</main>
  


    <script src="/public/js/packages/bootstrap.js "></script>
    <script src="/public/js/packages/jquery.js"></script>
    <script src="/public/js/packages/chart.js"></script>
    <script src="/public/js/packages/chart-plugin.js"></script>
    <script src="/public/js/packages/apexchart/apexchart.js"></script>
    <script src="/public/js/so/dashboard.js"></script>
    <script src="/public/js/packages/sweetalert2.js"></script>
    <script src="/public/js/packages/slick.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/so/dsr/dsr.js"></script>
    <script src="/public/js/so/kyc/dsr/upload-document.js"></script>
    <script src="/public/js/so/profile.js"></script>
    <script src="/public/js/so/retailer-payment.js"></script>


    
    

  
</body>

</html>